<!-- CSS FILE -->
<script language="javascript">
  // IE Check Variable
  var usingIE   = false;
  var usingIE7  = false;
  var usingIE8  = false;
  var usingLT8  = false;
</script>
<!--[if IE]>
<script> usingIE = true; </script>
<![endif]-->
<!--[if IE 7]>
<style>
	#creative p { font-size: 12px; }
</style>
<script> usingIE7 = true; </script>
<![endif]-->
<!--[if IE 8]>
<style>
	#creative p { font-size: 12px; }
</style>
<script> usingIE8 = true; </script>
<![endif]-->
<!--[if lte IE 8]>
<script> usingLT8 = true; </script>
<![endif]-->