// Directories
//- - var containerDirectory = 'http://commercial.asos.com/revlonvideo/';
- var containerDirectory = '';

- var imageDirectory 	= containerDirectory + '2015_06_Hostelworld';
- var cssDirectory 		= containerDirectory + 'css';
- var jsDirectory 		= containerDirectory + 'js';

// Social Message
- var socialMessage = "";
- var socialImage = "";
