// Mixins
@import "_mixins.scss";

<<<<<<< HEAD
// Mobile / Full Site Sizes
$mobileSize: 640px;
$siteWidth: 974px;
$siteMax: 1170px;

=======
>>>>>>> 5346240c8f625a342d584deb97a1db74c389e478

/*
	Universal Items All
*/
.clearfix:before, .clearfix:after { content: " " /* 1 */; display: table /* 2 */; }
.clearfix:after { clear: both; }

header,nav,article,footer,section,aside,figure,figcaption{display:block}

#creative * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#creative {margin: 0 auto; padding: 0; width: 100%; position: relative; top: 0; left: 0; font-family: 'FuturaStd',Tahoma,Arial,Sans-Serif; font-size: 12px; font-weight: normal; color: #000;background-repeat: repeat-x; background-color: #fff;  margin-bottom:0; text-align: center; }
#creative a {text-decoration: none;color: #000;}
#creative a:hover {text-decoration: none;}
#creative .button {margin-top:5px;padding:11px 19px 13px 21px;text-transform: uppercase;color:#000;border:2px solid #c2a921;font:14px/1.1 Tahoma,Arial,Verdana,Sans-Serif;display:inline-block;text-decoration: none;text-align: center;margin-right: 3px;}
#creative .button span {font-weight: bold;background:url('http://images.asos.com/htmlpages/assets/link-background-black.png') no-repeat right center;padding-right:10px;}
#creative sub { font-size: 50%; vertical-align: baseline; position: relative; top: 0.4em; }
#creative h2 {font-family:'FuturaStd', Tahoma,Arial,Sans-Serif;font-weight: bold;}


/* Set fonts used throughout */
#creative h1 { @include FuturaFont(40px,400,#000,1px); line-height: 40px; margin: 10px auto 0 auto; }
#creative h1.sml-type { @include FuturaFont(36px,400,#000,1px); line-height: 46px; margin: 10px auto 0 auto; }
#creative h2 { @include FuturaFont(30px,700,#000, 1px); line-height: 30px; margin: 10px auto 0 auto; }
#creative h3 { @include FuturaFont(22px,400,#000,0.08em); line-height: 24px; margin: 10px auto 0 auto; }
#creative h4 { @include FuturaFont(22px,700,#000,1px); line-height: 24px; margin: 0; }
#creative h5 { @include FuturaFont(16px,400,#000,0.08em); line-height: 18px; margin: 0; }
#creative p { @include FuturaFont(15px,400,#000, 0.04em); margin: 10px auto 0 auto; line-height: normal; }
<<<<<<< HEAD

=======
#creative p.sub { font-size: 15px; font-style: italic; }
>>>>>>> 5346240c8f625a342d584deb97a1db74c389e478

#creative .mobile-inline { display: none; }
#creative .mobile-inline-block { display: none; }
#creative .mobile-block { display: none; }
#creative .nothing { display: none; }

nav.mobile-menu { display: none; }


/* Main Area */
#creative a.goto-link { 
  font-family: 'FuturaPT', Tahoma, sans-serif; font-size: 15px; line-height: 21px; color: #000; background: url("http://images.asos.com/htmlpages/2012_03_Revlon/link-background-black.png") center right no-repeat; padding: 0 12px 0 0; font-weight: bold; margin: 10px 0 0 0; display: inline-block; text-transform: uppercase; z-index: 1; letter-spacing: 0.04em;
}
#creative a.goto-link-n { 
  font-family: 'FuturaPT', Tahoma, sans-serif; font-size: 15px; line-height: 21px; color: #000; padding: 0; font-weight: bold; margin: 10px 0 0 0; display: inline-block; text-transform: uppercase; z-index: 1; letter-spacing: 0.04em;
}
#creative a.goto-link-blue { 
  font-family: 'FuturaPT', Tahoma, sans-serif; font-size: 15px; line-height: 21px; color: #0088c4; 
  background: url("../link_arrow.png") center right no-repeat; padding: 0 12px 0 0; 
  font-weight: bold; margin: 10px 0 0 0; display: inline-block; text-transform: uppercase; z-index: 1; letter-spacing: 0.08em;
}
#creative a.goto_link_down { 
 font-family: 'FuturaPT', Tahoma, sans-serif; font-size: 15px; line-height: 21px; color: #000; background: url("http://commercial.asos.com/malibu/img/link-down-arrow.png") center left no-repeat; padding: 0 0 0 25px; font-weight: bold; margin: 0; display: inline-block; text-transform: uppercase; z-index: 1;
}
#creative a.goto_link_up { 
 font-family: 'FuturaPT', Tahoma, sans-serif; font-size: 15px; line-height: 21px; color: #000; background: url("http://commercial.asos.com/malibu/img/link-up-arrow.png") center left no-repeat; padding: 0 0 0 25px; font-weight: bold; margin: 0; display: inline-block; text-transform: uppercase; z-index: 1;
}
#creative a.goto-link-white { 
 font-family: 'FuturaPT', Tahoma, sans-serif; font-size: 15px; line-height: 21px; color: #FFF; background: url("http://images.asos.com/htmlpages/2012_Commercial/link_arrow_white.png") center right no-repeat; padding: 0 10px 0 0; font-weight: bold; display: inline-block; text-transform: uppercase; z-index: 1; margin: 10px 0 0 0; letter-spacing: 0.04em;
}
#creative a.goto_link_white_na { 
 font-family: 'FuturaPT', Tahoma, sans-serif; font-size: 15px; line-height: 21px; color: #FFF; padding: 0; font-weight: bold; display: inline-block; text-transform: uppercase; z-index: 1; margin: 10px 0 0 0; letter-spacing: 0.04em;
}
#creative a.goto_link_narrow { 
 font-family: 'FuturaPT', Tahoma, sans-serif; font-size: 15px; line-height: 21px; color: #FFF; background: url("http://images.asos.com/htmlpages/2012_Commercial/link_arrow_white.png") center right no-repeat; padding: 0 15px 0 0; font-weight: 400; display: inline-block; text-transform: uppercase; z-index: 1; margin: 5px 0 0 0; letter-spacing: 0.04em;
}
#creative a.goto_link_red { 
 font-family: 'FuturaPT', Tahoma, sans-serif; font-size: 15px; line-height: 21px; color: #FF0000; background: url("http://images.asos.com/htmlpages/2012_Commercial/link_arrow_red.png") center right no-repeat; padding: 0 10px 0 0; font-weight: bold; display: inline-block; text-transform: uppercase; z-index: 1;
}
#creative a.lrg-redlink {
	@include FuturaFont(18px,700,red,0.08em); line-height: 21px; padding: 0 5px 0 0;display: inline-block; text-transform: uppercase; z-index: 1;
}



#creative span.chevron, #creative i.chevron { background: url("http://images.asos.com/htmlpages/2012_Commercial/link_arrow_black.png") center center no-repeat; width: 6px; height: 100%; margin-left: 2px; text-indent: -999px; display: inline-block; overflow: hidden; vertical-align: text-bottom; }
#creative span.chevron-white, #creative i.chevron-white { background: url("http://images.asos.com/htmlpages/2012_Commercial/link_arrow_white.png") center center no-repeat; width: 6px; height: 100%; margin-left: 2px; text-indent: -999px; display: inline-block; overflow: hidden; vertical-align: text-bottom; }
#creative span.chevron-blue, #creative i.chevron-blue { background: url("http://images.asos.com/htmlpages/2014_Commercial/link_arrow_blue.png") center center no-repeat; width: 6px; height: 100%; margin-left: 2px; text-indent: -999px; display: inline-block; overflow: hidden; vertical-align: text-bottom; }
#creative span.chevron-back, #creative i.chevron-back { background: url("http://images.asos.com/htmlpages/2012_Commercial/back_arrow_black.png") center center no-repeat; width: 6px; height: 100%; margin-left: 2px; text-indent: -999px; display: inline-block; overflow: hidden; vertical-align: text-bottom; }

#creative span.chevron-down { background: url("http://images.asos.com/htmlpages/2013_09_OWL/arrow_down.png") center center no-repeat; width: 18px; height: 100%; margin-right: 2px; text-indent: -999px; display: inline-block; overflow: hidden; vertical-align: text-bottom; }
#creative span.chevron-up { background: url("http://images.asos.com/htmlpages/2013_09_OWL/arrow_up.png") center center no-repeat; width: 18px; height: 100%; margin-right: 2px; text-indent: -999px; display: inline-block; overflow: hidden; vertical-align: text-bottom; }

<<<<<<< HEAD

/* Buttons */
#creative .block-btn {
	padding: 8px 20px; border: 3px solid #000; background-color: #FFF; display: inline-block; margin: 20px auto 0 auto;
	font-family: 'FuturaPT', Tahoma, sans-serif; font-size: 15px; line-height: 19px; color: #000; font-weight: 700; z-index: 1; letter-spacing: 1px; transition: all .5s;
	.ir { display: inline-block; }
	em {
		margin: -10px 0 0; padding: 0; display: inline-block; font-size: 20px; font-style: normal; font-weight: 700;
	}
	&:hover, &.active { background-color: #000; color: #FFF; opacity: 1; }
}




=======
/* Buttons */
#creative .block-btn {
	padding: 8px 20px; border: 3px solid #000; background-color: #FFF; display: inline-block; margin: 20px auto 0 auto;
	font-family: 'FuturaPT', Tahoma, sans-serif; font-size: 15px; line-height: 19px; color: #000; font-weight: 700; z-index: 1; letter-spacing: 1px;
	.ir { display: inline-block; }
}
>>>>>>> 5346240c8f625a342d584deb97a1db74c389e478
#creative a.block-btn-grey {
	padding: 10px 20px; border: 3px solid #FFF; background-color: #e8dacf; display: inline-block; margin: 20px auto 0 auto;
	font-family: 'FuturaPT', Tahoma, sans-serif; font-size: 15px; line-height: 21px; color: #000; font-weight: 700; text-transform: uppercase; z-index: 1; letter-spacing: 0.04em;
}
#creative a.block-btn-purple {
	padding: 10px 20px; border: 3px solid #968eff; background-color: #FFF; display: inline-block; margin: 20px auto 0 auto;
	font-family: 'FuturaPT', Tahoma, sans-serif; font-size: 21px; line-height: 21px; color: #000; font-weight: 700; text-transform: uppercase; z-index: 1; letter-spacing: 0.04em;
}
#creative a.block-btn-flat {
	padding: 12px 20px; border: none; background-color: #000; display: inline-block; margin: 20px auto 0 auto; font-family: 'FuturaPT', Tahoma, sans-serif; font-size: 15px; line-height: 21px; color: #FFF; font-weight: 700; text-transform: uppercase; z-index: 1; letter-spacing: 0.08em;
}
#creative a.block-btn-blue {
	padding: 12px 20px; border: none; background-color: #000; display: inline-block; margin: 20px auto 0 auto; font-family: 'FuturaPT', Tahoma, sans-serif; font-size: 15px; line-height: 21px; color: #FFF; font-weight: 700; text-transform: uppercase; z-index: 1; letter-spacing: 0.08em;
}

#creative a[class^="btn-shadow"] {
	padding: 10px 20px; border: 1px solid #000; background-color: #FFF; display: inline-block; margin: 20px auto 0 auto;
	font-family: 'FuturaPT', Tahoma, sans-serif; font-size: 15px; line-height: 21px; color: #000; font-weight: 700; text-transform: uppercase; z-index: 1; letter-spacing: 0.04em; transition: opacity .5s; box-shadow: 3px 3px 0 #000;
}
#creative a[class^="btn-shadow"]:hover { opacity: 0.7; -webkit-transform: translateZ(0); }

/* Positional */
#creative .top-right { position: absolute; top: 10px; right: 10px; }
#creative .top-left { position: absolute; top: 10px; left: 10px; }
#creative .bottom-right { position: absolute; bottom: 10px; right: 10px; }
#creative .bottom-left { position: absolute; bottom: 10px; left: 10px; }
#creative .bottom-right-abs { position: absolute; bottom: 0; right: 0; }
#creative .bottom-left-abs { position: absolute; bottom: 0; left: 0; }

/*
 * Image replacement
 */
#creative .ir:before { content: ""; width: 0; height: 150%; }
#creative .ir { display: block; text-indent: -9999px; background-repeat: no-repeat; overflow: hidden; background-color: transparent; border: 0; overflow: hidden; display: block; *text-indent: -9999px; }

#creative a { transition: opacity .5s; -webkit-transform: translateZ(0); }
#creative a:hover { opacity: 0.7; }
#creative a.no-hover:hover { opacity: 1; }

#creative a.switch-to-blk { transition: background-color .3s, color .3s; }
#creative a.switch-to-blk:hover { background-color: #000; opacity: 1; color: #FFF; } 
#creative a.switch-to-blk:hover .chevron { background: url("http://images.asos.com/htmlpages/2012_Commercial/link_arrow_white.png") center center no-repeat; } 

// Universal
#creative .block-colour { height: 15px; width: 100%; display: block; }


/* HEADER */
/* Navigation */
#creative nav.main-nav { width: 100%; padding: 10px 0; background-color: #000; margin: 0px auto 0 auto; position: relative; z-index: 11; }
#creative nav.main-nav ul { margin: 0; padding: 0; list-style: none; }
#creative nav.main-nav ul li { display: inline-block; list-style: none; margin: 0 20px; position: relative; }
#creative nav.main-nav ul li a { @include FuturaFont(16px,400,#FFF,1px); }
#creative nav.main-nav ul li.active:after { content: ''; background-image: url(../active_arrow_pink.png); position: absolute; width: 53px; height: 35px; left: 50%; bottom: -34px; margin: 0 0 0 -26px; }

#creative nav.main-nav.fixed, #creative nav.main-nav.fixed-past { position: fixed; z-index: 99; left: 0; top: 0; }

// #creative nav.main-nav .drop-down-menu { display: none; }
#creative nav.main-nav .drop-down-menu { display: none; position: absolute; width: 100%; top: 100%; left: 0; background: #FFF; border-left: 2px solid #000; border-right: 2px solid #000; border-top: 10px solid #000; border-bottom: 1px solid #000; z-index: 10; }
#creative nav.main-nav .drop-down-menu a { color: #000; width: 100%; display: block; margin: 0 auto; border-bottom: 1px solid #000; padding: 10px; z-index: 10; }
#creative nav.main-nav ul li:hover .drop-down-menu { display: block;  } 

/* Layout */
section.three-col { width: 100%; max-width: 976px; margin: 10px auto 0 auto; }
section.three-col article { width: 30%; margin: 0 1%; max-width: 312px; display: inline-block; position: relative; vertical-align: top; }
section.two-col { width: 100%; max-width: 976px; margin: 10px auto 0 auto; }
section.two-col article { width: 47%; min-width: 300px; margin: 0 1%; display: inline-block; position: relative; vertical-align: top; }

section .padded-outline-block { background-color: #FFF; border: 1px solid #000; padding: 20px; }


// Social
#creative .social-btns { height: 40px; z-index: 10; position: absolute; top: 0; left: 50%; margin: 0 0 0 567px; }
#creative .social-content { display: none; height: 40px; background-color: #FFF; padding: 3px 45px 3px 3px; position: absolute; right: 0; top: 0; width: 210px; }
#creative .social-btns:hover .social-content { display: block; }
#creative a.social-btn { display: inline-block; margin: 0 2px; }
#creative .social-icon-more { background-image: url(../share_icon.png); width: 40px; height: 40px; position: absolute; right: 0; top: 0; margin: 0; background-color: #000; z-index: 10; }
#creative .social-icon-more:hover { opacity: 1; }
#creative .social-icon-facebook { width:34px; height:34px; background-image: url('http://content.asos-media.com/~/media/~/UI/images/floors/common/follow-asos/follow-asos-sprite.png'); display: inline-block; }
#creative .social-icon-twitter { width:34px; height:34px; background-image: url('http://content.asos-media.com/~/media/~/UI/images/floors/common/follow-asos/follow-asos-sprite.png'); display: inline-block; background-position: 0 -40px; }
#creative .social-icon-gplus { width:34px; height:34px; background-image: url('http://content.asos-media.com/~/media/~/UI/images/floors/common/follow-asos/follow-asos-sprite.png'); display: inline-block; background-position: 0 -120px; }
#creative .social-icon-pinterest { width:34px; height:34px; background-image: url('http://content.asos-media.com/~/media/~/UI/images/floors/common/follow-asos/follow-asos-sprite.png'); display: inline-block; background-position: 0 -160px; }







/*
 *  Responsive Content
 */
@media all and (max-width: $mobileSize) {

	#creative { 

		width: 100%; 
	
		img { max-width: 100%; }
	

		.mobile-inline { display: inline; }
		.mobile-inline-block { display: inline-block; }
		.mobile-block { display: block; }
		.desktop-inline { display: none; }
		.desktop-block { display: none; }

		/* Set fonts used throughout */
		h1 { font-family: 'FuturaPT', Tahoma, sans-serif; font-size: 36px; font-weight: 400; line-height: 40px; letter-spacing: 1px; margin: 10px auto 0 auto; }
		h2 { font-family: 'FuturaPT', Tahoma, sans-serif; font-size: 28px; font-weight: 400; line-height: 40px; letter-spacing: 1px; margin: 10px auto 0 auto; }
		h3 { font-family: 'FuturaPT', Tahoma, sans-serif; font-size: 30px; font-weight: 400; line-height: 36px; letter-spacing: 0.08em; margin: 10px auto 0 auto; }
		h4 { font-family: 'FuturaPT', Tahoma, sans-serif; font-size: 24px; font-weight: 700; line-height: 30px; letter-spacing: 0.08em; margin: 0; }
		p { font-family: 'FuturaPT', Tahoma, sans-serif; font-size: 18px; font-weight: 400; line-height: 18px; letter-spacing: 0.04em; margin: 10px auto 0 auto; }
		a.social-btn { margin: 0 5px; }
	
		/* Layout */

		/* mobile */
		nav.mobile-menu {height: 36px;background: #fff; display: block; position: relative; overflow: visible; width: 90%; z-index: 10; border: 1px solid #000; margin: 0 auto; }
		nav.mobile-menu .inner { height: 36px; }
		nav.mobile-menu h2 {text-align: center;color: #000;font-size: 18px;font-weight: normal;letter-spacing: 1px;padding-top: 0;margin: 0; line-height: 36px;}
		nav.mobile-menu #dropdown_link { z-index:20;  position:absolute; right:10px; top: 0; }
		nav.mobile-menu .dropdown {display:none;z-index:15;position: absolute;top: 36px;width: 100%; border: 1px solid #CCC; box-shadow: 0 3px 3px rgba(0,0,0,0.3); }
		nav.mobile-menu .dropdown a {font-family:'FuturaPT',Arial,Sans-Serif;font-weight: 400; padding:10px 0;width:100%; color: #000;font-size: 15px;text-align: center;background: #FFF;display: block;border-bottom: 1px solid #ccc;}
		nav.mobile-menu .dropdown a.active { background-color: #eee; }
		nav.mobile-menu .dropdown a:hover { background-color: #eee; opacity: 1; }

		a.mobile-dropdown { 
		display: block; padding: 10px; border: 3px solid #000; @include FuturaFont(16px,700,#000,0.02em); text-transform: uppercase; width: 90%; margin: 0 auto; 

		&.open span.chevron-down { background: url("http://images.asos.com/htmlpages/2013_09_OWL/arrow_up.png") center center no-repeat; }
		}
		a.mobile-dropdown span { margin: 0 10px 0 0; }


		/* Buttons */
<<<<<<< HEAD
		
=======
		.lrg-white-block { width: 90%; display: inline-block; background-color: #FFF; padding: 10px 0; border: 3px solid $blue; @include FuturaFont(22px,700,$blue,1px); margin: 5px 10px; 
		&.active { background-color: $blue; color: #FFF; }
		}
>>>>>>> 5346240c8f625a342d584deb97a1db74c389e478

		div.social-btns { display: none; }

		
	}


	/* **************** */
	/* site fullwidth */
	div.site-content { margin: 0 auto 0 auto; }
	div.creative-panel { margin: 0 auto 0 auto; }
	/* **************** */
}