
// directories
$imageDirectory: "http://commercial.asos.com/revlonvideo/2015_05_Revlon";

$mobileSize: 640px;
$siteWidth: 974px;


// ******************************
//	Form styles specific to Method
// ******************************

#main {

	background-color: transparent;

	.table-cell-cont { width: 100%; height: 100%; display: table; }
	.table-cell { display: table-cell; vertical-align: middle; }

	a { transition: opacity .5s; -webkit-transform: translateZ(0); }
	a:hover { opacity: 0.7; }


	// Text styles		
	h3 { font-size: 58px; font-weight: 700; color: #ff859e; margin: 40px auto 40px auto; }
	h2 { border: none; border: 0; }
	p { }	

	.round-border-box { margin: 20px auto; }
	.submit-btn-p { text-align: center; }
	p.dob-p > span:first-of-type { margin: 0 0 0 20px; }

	.logo-wrap { margin: 20px auto 0; }
	.button-wrap { margin: 20px auto 0; }
	
	// Mobile
	@media all and (max-width: $mobileSize) {
		.round-border-box { border: 0; margin: 0 auto; width: 100%; }
	}

	.required{
		margin:0 !important;
		color: #f00;
	}
	.header-required{
		color: #000000;
		margin:0 !important;
		font-size: 26px;
		vertical-align: super;
	}
	

	.block-btn {
		padding: 8px 20px; border: 3px solid #000; background-color: #FFF; display: inline-block; margin: 10px auto 0 auto;
		font-family: 'FuturaPT', Tahoma, sans-serif; font-size: 15px; line-height: 19px; color: #000; font-weight: 700; z-index: 1; letter-spacing: 1px;

		width: 200px;
		text-decoration: none !important;

		.ir { display: inline-block; }
	}



	div.thankyou {

		// Gradient Image BG
		background-image: -moz-linear-gradient( 38deg, rgb(23,191,228) 0%, rgb(0,179,165) 11%, rgb(141,198,63) 21%, rgb(203,219,42) 32%, rgb(236,232,16) 43%, rgb(252,175,23) 54%, rgb(241,108,113) 65%, rgb(238,76,142) 77%, rgb(123,99,171) 88%, rgb(96,78,161) 100%);
		background-image: -webkit-linear-gradient( 38deg, rgb(23,191,228) 0%, rgb(0,179,165) 11%, rgb(141,198,63) 21%, rgb(203,219,42) 32%, rgb(236,232,16) 43%, rgb(252,175,23) 54%, rgb(241,108,113) 65%, rgb(238,76,142) 77%, rgb(123,99,171) 88%, rgb(96,78,161) 100%);
		background-image: -ms-linear-gradient( 38deg, rgb(23,191,228) 0%, rgb(0,179,165) 11%, rgb(141,198,63) 21%, rgb(203,219,42) 32%, rgb(236,232,16) 43%, rgb(252,175,23) 54%, rgb(241,108,113) 65%, rgb(238,76,142) 77%, rgb(123,99,171) 88%, rgb(96,78,161) 100%);

		width: 100%; height: 100%; color: #FFF;

		a { 
			text-decoration: none !important; color: #FFF; 
			p { margin: 20px auto 0; }
		}
		h4 { font-size: 30px; color: #FFF; margin: 30px auto; 
			@media all and (max-width: $mobileSize) { margin: 20px auto; }
		}
		p { font-size: 15px; margin: 20px auto 0; 
			@media all and (max-width: $mobileSize) { margin: 15px auto 0; } 
		}

		.social-area { 
			margin: 50px auto 0;
			p { font-size: 15px; }
			a.ir { display: inline-block; margin: 10px 15px 0; }
			@media all and (max-width: $mobileSize) {
				margin: 30px auto 0;
				a.ir { margin: 10px 5px; }
			}			
		}

		div.bottom-banner {
			padding: 10px; background-color: #FFF; margin: 30px 10px 10px; color: #ed5c15;
			p { margin: 0; font-size: 15px; }
		}
	}


	/*
	 * Image replacement
	 */
	.ir:before { content: ""; width: 0; height: 150%; }
	.ir { display: block; text-indent: -9999px; background-repeat: no-repeat; overflow: hidden; background-color: transparent; border: 0; overflow: hidden; display: block; *text-indent: -9999px; }

	.pinterest-icon { background-image: url(#{$imageDirectory}/default/social_icons_single.png); width: 25px; height: 33px; }
	.twitter-icon { background-image: url(#{$imageDirectory}/default/social_icons_single.png); width: 34px; height: 33px; background-position: -31px 0; }
	.facebook-icon { background-image: url(#{$imageDirectory}/default/social_icons_single.png); width: 19px; height: 33px; background-position: -71px 0; }
	.google-icon { background-image: url(#{$imageDirectory}/default/social_icons_single.png); width: 33px; height: 33px; background-position: -102px 0; }
	.tumblr-icon { background-image: url(#{$imageDirectory}/default/social_icons_single.png); width: 20px; height: 33px; background-position: -141px 0; }
}

body {
	width: 100%; 
	background: #b6f7ff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I2ZjdmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #b6f7ff 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6f7ff), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #b6f7ff 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #b6f7ff 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #b6f7ff 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #b6f7ff 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6f7ff', endColorstr='#ffffff',GradientType=0 );
}

