// Sass Dependant Items
@import "_universal.scss";

// directories
$imageDirectory: "../images";

// Mobile / Full Site Sizes - This is a general rule based upon Bootstrap
$mobileSize: 640px;
$siteWidth: 974px;
$siteMax: 1170px;

// Colours used can go in here...
$blue: #74E6F0;
$yellow: #FFE115;
$red: #E00020;
$green: #00C417;


// ******************************
//	Homepage 
// ******************************
 
// ******************************
//	Site Wide Consistants 
// ****************************** 

// Site wide articles
.responsive-header { top: 0; }

// Non Scrolling Background if you need it
body.noscroll {
	overflow: hidden; height: 100%; width: 100%;
}



// ******************************
//	Creative Area for Campaign
// ******************************

#creative {

	
	.mobile-inline-block { display: none; }
	
	.table-cell-cont { width: 100%; height: 100%; display: table; }
	.table-cell { display: table-cell; vertical-align: middle; }

	// p
	p.sml { font-size: 16px; } 

	// Section
	section { 
		width: 100%; max-width: $siteWidth; margin: 20px auto 0; position: relative;
		p { font-size: 16px; }
		p.small { font-size: 11px; }

		// Aside Left
		aside.left-50 { width: 50%; float: left; }	
		aside.right-50 { width: 50%; float: right; }

		a.block-btn.half-width { margin: 20px 0 10px 1%; width: 49.5%; &:first-child { margin: 20px 0 10px; } }
		a.block-btn.full-width { width: 100%; }

		@media all and (max-width: $mobileSize) {
			aside.left-50 { width: 100%; float: none; }	
			aside.right-50 { width: 100%; float: none; }	
			a.block-btn.half-width { width: 100%; margin: 10px auto 0; &:first-child { margin: 10px auto 0; } }	
		}
	}
	// Top section 
	header {
		max-width: 100%; overflow: hidden; 
	}
	section.bottom-area { 
		margin: 30px auto 30px;
		@media all and (max-width: $mobileSize) {
			margin: 20px auto 30px; 
		}
	}
	

	a.mobile-dropdown { display: none; }

	.split-4-even { 
		text-align: justify; position: relative;

		&:before { content: ''; display: block; width: 100%; }			
		&:after { content: ''; display: inline-block; width: 100%; height: 0; line-height: 0; }

		& > * { display: inline-block; width: 24%; position: relative; }
	
		// display: table; width: 100%;
		// & > * {  width: 24%; position: relative; display: table-cell; white-space: nowrap; }
	}
	

	.noselect {
	    -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
	}
	.astrix{ display: inline !important; font-size: 10px; vertical-align: top; }



	// ------------------------------------------------
	// IMAGE REPLACEMENTS
	// ------------------------------------------------

	// nav icons for information and close
	.icon-info { background-image: url(#{$imageDirectory}/default/info.png); width: 39px; height: 39px; }
	.icon-close { background-image: url(#{$imageDirectory}/default/close_icon.png); width: 25px; height: 25px; }
	.icon-close-circle { background-image: url(#{$imageDirectory}/default/close_circle.png); width: 39px; height: 39px; }

	// en
	// text
	[class*='txt-'] { background-size: 100% auto; background-position: center center; background-repeat: no-repeat; }
	[class*=' icon-'], [class^='icon-'] { background-size: 100% auto; background-position: center center; background-repeat: no-repeat; }

	// Gallery Assets
	.sml-prev-arrow { background-image: url(#{$imageDirectory}/default/small_arrow_prev.png); }
	.sml-next-arrow { background-image: url(#{$imageDirectory}/default/small_arrow_next.png); }
	
	// social icons - unique versions
	.icon-col-fb { background-image: url(#{$imageDirectory}/default/icon_fb.png); width: 31px; height: 31px; }
	.icon-col-twitter { background-image: url(#{$imageDirectory}/default/icon_twitter.png); width: 31px; height: 31px; }
	.icon-col-email { background-image: url(#{$imageDirectory}/default/email_icon.png); width: 32px; height: 32px; }
	
	// Mobile Versions
	@media all and (max-width: $mobileSize) {
		[class*="txt-"] { max-width: 95%; background-size: 100% auto; background-position: center center; background-repeat: no-repeat; margin-left: auto; margin-right: auto; }
	}

}