doctype html
//- Header and footer
include settings
include includes/site_head.html
include includes/ie_conditional.html

//- Common requirements and wigets
include common/social

//- Commonly used variables
- var space 	= ' ';
- var linkShop 	= '#';



//- site content
div.commercial-main
 
	//-- ..Sections live in here	

	
	
//- Consistant
section.bottom-area
	- createSocialButtonsNoContainer("#{ imageDirectory }/social.jpg");
	br
	a(href="#creative").scrollto.goto-link BACK TO TOP



//- css
link(rel='stylesheet', href='http://commercial.asos.com/assets/css/fullwidth.css')
link(rel='stylesheet', href='http://commercial.asos.com/assets/css/Fonts.css')
link(rel='stylesheet', href='#{cssDirectory}/hub.css')
	
//- js
//- Assets
script(type="text/javascript",src="http://connect.facebook.net/en_US/all.js")
//- Main Social js
script(type='text/javascript',src='#{jsDirectory}/min/social_en.min.js')
//- Main JS for the Hub
script(type='text/javascript',src='#{jsDirectory}/min/hub.min.js')






// end of main area
include includes/site_footer.html