//- SHINCHY Version 4.0
//- Http Static, no real need for Node Baby, this is an App
//- ...
include settings/settings.jade
include includes/header.html

//- Main Content for the whole site
div#main.container
	
	//- CONTAIN LIVES HERE
	
//- A simple preloader function
div#loader
	div.loader-container
		div.shadow
		div.box

//- footer
include includes/footer.html
